@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@import url("../fonts/FontAwesome/css/font-awesome.min.css");
h1,
h2,
h3,
h4,
h5 {
  font-size: 24px;
  font-weight: 500; }

h1,
h3 {
  font-weight: 400; }

@media only screen and (max-width: 1279px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 14px; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  outline: none !important; }

li {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

select {
  outline: none !important; }

body {
  font-family: "Roboto", sans-serif;
  background: url(../img/main_bg.jpg) repeat-y 50% 0/100% auto;
  color: #323e4c; }
  body.overflow {
    overflow: hidden; }

.page__section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .page__section--header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  z-index: 99; }
  .header:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/main_bg.jpg) repeat-y 50% 0/100% auto;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .header--small:before {
    opacity: 1; }
  .header__language-item {
    float: left;
    list-style-type: none;
    padding-left: 11px;
    padding-right: 11px; }
    .header__language-item:first-child {
      padding-left: 0; }
  .header__language-link {
    font-size: 24px;
    color: #415062;
    text-decoration: none;
    line-height: 30px; }
    .header__language-link--active {
      color: #cd4c2e;
      font-size: 30px;
      font-weight: 700; }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .header__logo img {
      display: block; }
    .header__logo--home {
      opacity: 0;
      visibility: hidden; }
    .header__logo--visible {
      opacity: 1;
      visibility: visible; }

.footer {
  background-color: #394656;
  font-size: 14px;
  color: #809dc1;
  position: relative;
  line-height: 18px; }
  .footer:before, .footer:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 66px solid #394656;
    top: -66px; }
  .footer:before {
    left: 0;
    border-right: 50vw solid transparent; }
  .footer:after {
    right: 0;
    border-left: 50vw solid transparent; }
  .footer__logo {
    margin-right: 20px; }
  .footer__contact {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center; }
    .footer__contact-link {
      color: inherit; }

.top-btn {
  position: fixed;
  background-color: #cd4c2e;
  color: white;
  display: inline-block;
  text-align: center;
  padding-bottom: 7px;
  width: 73px;
  z-index: 98;
  display: none;
  cursor: pointer; }
  .top-btn:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 73px solid transparent;
    border-bottom: 40px solid #cd4c2e;
    left: 0;
    bottom: 100%; }

.address-link {
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit; }
  .address-link:hover {
    color: inherit;
    text-decoration: none; }

@media only screen and (max-width: 1440px) {
  .page {
    padding-top: 85px; }
    .page--home {
      padding-top: 0; }
    .page__section {
      padding-left: 17px;
      padding-right: 17px; }
      .page__section--header {
        padding-left: 0;
        padding-right: 0; } }

@media screen and (max-width: 1440px) and (min-width: 1280px) {
  .header__language-link {
    font-size: 20px;
    line-height: 25px; }
    .header__language-link--active {
      font-size: 25px; } }

@media only screen and (max-width: 1279px) {
  .header__language-link {
    font-size: 18px;
    line-height: 20px; }
    .header__language-link--active {
      font-size: 20px; }
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 18px; }
    .footer:before, .footer:after {
      border-bottom-width: 44px;
      top: -44px; }
    .footer__logo {
      width: 196px;
      margin-right: 35px; }
      .footer__logo img {
        display: block; }
    .footer__copy {
      text-align: center; } }

@media only screen and (max-width: 500px) {
  .mobile-hidden {
    display: none; }
  .page__section {
    padding-left: 8px;
    padding-right: 8px; }
    .page__section--footer {
      padding-left: 17px;
      padding-right: 17px; }
  .header {
    padding-top: 20px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 20px; }
    .header__language-list {
      display: none; }
    .header__language-field {
      font-size: 24px;
      border: none;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../img/arrow_up.png) no-repeat 100% 50%;
      padding-right: 24px; }
      .header__language-field::-ms-expand {
        display: none; }
    .header__logo {
      width: 36px; }
  .footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 13px; }
    .footer:before, .footer:after {
      border-bottom-width: 18px;
      top: -18px; }
    .footer__logo {
      width: 140px;
      margin-top: 20px;
      margin-bottom: 15px; }
  .top-btn {
    right: 17px;
    bottom: 46px;
    width: 49px;
    font-size: 12px;
    padding-bottom: 0; }
    .top-btn:before {
      border-left-width: 49px;
      border-bottom-width: 27px; } }

@media only screen and (min-width: 501px) {
  .mobile-visible {
    display: none; }
  .page__section--footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .page__section--contact {
    background: url(../img/contact_form_bg.png) no-repeat 50% 100%/100% auto; }
  .header__language {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .header__language-select {
    display: none; }
  .footer__logo-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }

@media screen and (max-width: 767px) and (min-width: 501px) {
  .footer__logo {
    width: 100px;
    margin-right: 5px; } }

@media only screen and (max-width: 1440px) and (min-width: 768px) and (orientation: portrait) {
  .page--team {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; } }

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .footer__copy-row {
    display: block; }
  .footer__contact {
    min-width: 47%;
    padding-right: 40px; }
  .top-btn {
    right: 20px;
    bottom: 30px;
    width: 69px;
    font-size: 14px;
    padding-bottom: 4px; }
    .top-btn:before {
      border-left-width: 69px;
      border-bottom-width: 25px; } }

@media screen and (max-width: 1440px) and (min-width: 501px) {
  .page__section--team {
    width: 100%;
    background: url(../img/team_bg.png) no-repeat 50% 100%; }
  .header {
    padding: 30px; }
    .header__logo {
      width: 37px; }
  .content--team {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 1280px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 45px;
    line-height: 1.5; }
    .footer__contact {
      width: 50%; }
    .footer__copy {
      position: relative;
      top: -5px; }
  .top-btn {
    right: 80px;
    bottom: 65px; } }

@media only screen and (min-width: 1441px) {
  .page {
    padding-top: 98px; }
    .page--home {
      padding-top: 0; }
    .page__section {
      padding-left: 80px;
      padding-right: 80px; }
      .page__section--header {
        padding-left: 120px;
        padding-right: 120px; }
  .header {
    padding-left: 124px;
    padding-right: 124px; }
    .header--home {
      padding-top: 76px; }
    .header--small {
      padding-top: 20px;
      padding-bottom: 20px; } }

.menu-icon {
  width: 34px;
  height: 22px;
  text-align: right;
  cursor: pointer; }
  .menu-icon__line {
    position: relative;
    float: right;
    width: 100%;
    height: 3px;
    background-color: #15222b;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
    .menu-icon__line:first-child {
      top: 0; }
    .menu-icon__line:last-child {
      width: 19px;
      bottom: 0; }
    .menu-icon__line + .menu-icon__line {
      margin-top: 6px; }
  .menu-icon:hover .menu-icon__line:first-child {
    top: -3px; }
  .menu-icon:hover .menu-icon__line:last-child {
    bottom: -3px; }

.main-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 157, 193, 0.63);
  z-index: 97;
  display: none; }

.main-menu {
  z-index: 98;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -400px;
  width: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 105px;
  padding-bottom: 50px;
  overflow: auto;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .main-menu--visible {
    right: 0; }
  .main-menu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    background-color: #323e4c;
    z-index: -1; }
  .main-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-top: 100px solid #323e4c;
    border-left: 100px solid transparent; }
  .main-menu__list {
    width: 100%;
    max-width: 225px; }
    .main-menu__list:before {
      content: "";
      position: absolute;
      right: 0;
      left: 100px;
      bottom: 0;
      height: 100px;
      background-color: #323e4c;
      z-index: -1; }
  .main-menu__item + .main-menu__item {
    margin-top: 35px; }
  .main-menu__link {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    display: block;
    line-height: 2;
    padding-top: 10px;
    padding-bottom: 10px; }
    .main-menu__link:hover {
      color: #cd4c2e; }
  .main-menu__contact {
    max-width: 225px;
    width: 100%;
    color: #809dc1;
    font-size: 14px; }
    .main-menu__contact-row + .main-menu__contact-row {
      margin-top: 20px; }
    .main-menu__contact-link {
      color: inherit; }
      .main-menu__contact-link:hover {
        color: #cd4c2e; }
  .main-menu__close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 70px;
    right: 100px;
    cursor: pointer; }
    .main-menu__close-line {
      display: inline-block;
      position: absolute;
      width: 28px;
      height: 2px;
      background-color: #809dc1;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 9px;
      left: -2px;
      -webkit-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s; }
      .main-menu__close-line + .main-menu__close-line {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s; }
    .main-menu__close:hover .main-menu__close-line {
      -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
      transform: rotate(315deg); }
      .main-menu__close:hover .main-menu__close-line + .main-menu__close-line {
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg); }

@media only screen and (max-width: 1279px) {
  .menu-icon {
    width: 27px; }
    .menu-icon__line {
      height: 2px; }
  .main-menu {
    width: 290px;
    padding-left: 70px;
    padding-bottom: 70px; }
    .main-menu:before {
      bottom: 70px; }
    .main-menu:after {
      border-top-width: 70px;
      border-left-width: 70px; }
    .main-menu__list:before {
      left: 70px; }
    .main-menu__item + .main-menu__item {
      margin-top: 20px; }
    .main-menu__link {
      font-size: 14px; }
    .main-menu__contact {
      font-size: 10px; }
    .main-menu__contact-row + .main-menu__contact-row {
      margin-top: 10px; }
    .main-menu__close {
      top: 45px;
      right: 70px; } }

@media only screen and (max-width: 991px) and (orientation: landscape) {
  .main-menu {
    padding-bottom: 30px; }
    .main-menu__item + .main-menu__item {
      margin-top: 0; } }

@media only screen and (max-width: 767px) {
  .main-menu__item + .main-menu__item {
    margin-top: 10px; } }

@media screen and (max-width: 767px) and (orientation: landscape) {
  .main-menu__close {
    top: 20px;
    right: 30px; }
  .main-menu {
    padding-top: 20px;
    padding-bottom: 20px; }
    .main-menu__item + .main-menu__item {
      margin-top: 0; }
    .main-menu__contact-row + .main-menu__contact-row {
      margin-top: 5px; } }

@media only screen and (max-width: 500px) {
  .menu-icon__line {
    background-color: #809dc1; }
  .main-menu {
    width: 240px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px; }
    .main-menu--visible {
      right: 0; }
    .main-menu__contact {
      display: none; }
    .main-menu__list {
      text-align: center; }
    .main-menu__close {
      top: 25px;
      right: 25px; } }

@media screen and (max-width: 1366px) and (min-width: 375px) and (orientation: portrait) {
  .main-menu {
    width: 50vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    right: -50vw;
    height: 50vh;
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main-menu--visible {
      right: 0; }
    .main-menu__contact {
      display: none; } }

@media screen and (max-width: 501px) and (orientation: portrait) {
  .main-menu {
    padding-top: 20px;
    padding-bottom: 20px; } }

.home__section--object {
  position: relative;
  overflow: hidden;
  padding-top: 40px; }

.home__section--logo {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.home__logo {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  top: 0; }
  .home__logo--hidden {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
    top: -100px; }

.home__arrow {
  position: absolute;
  width: 2px;
  height: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  background-color: #15222b; }
  .home__arrow:after, .home__arrow:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 2px;
    height: 10px;
    background-color: #15222b; }
  .home__arrow:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -4px; }
  .home__arrow:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -4px; }

@media only screen and (max-width: 500px) {
  .home__logo {
    width: 189px; }
  .home .fullScreen {
    top: 25px !important; }
  #map .gm-style button {
    top: 30px !important; } }

@media screen and (min-width: 501px) {
  .home__section {
    height: 100vh; } }

@media screen and (min-width: 501px) and (max-width: 1279px) {
  .home__logo {
    width: 227px; } }

@media screen and (max-width: 500px) and (orientation: portrait) {
  .home__section--logo {
    padding-bottom: 0; } }

.objects {
  height: 100%; }
  .objects__item {
    position: relative;
    font-size: 18px;
    color: inherit; }
  .objects__img {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    -webkit-transition: all 8s linear;
    -o-transition: all 8s linear;
    transition: all 8s linear; }
    .objects__img:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(100, 120, 147, 0.41);
      -webkit-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s; }
  .objects__number {
    font-size: 24px;
    line-height: 1;
    margin-top: -10px;
    padding-left: 25px; }
  .objects__title {
    height: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 32px;
    background-color: rgba(255, 255, 255, 0.77);
    min-width: 50%;
    width: 50%;
    white-space: nowrap;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .objects__title:before, .objects__title:after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0; }
    .objects__title:after {
      border-bottom: 80px solid transparent; }
    .objects__title:before {
      border-top: 80px solid transparent; }
    .objects__title--left {
      left: 0;
      padding-left: 30px;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .objects__title--left:after {
        left: 100%;
        border-left: 35px solid rgba(255, 255, 255, 0.77); }
      .objects__title--left:before {
        right: 100%;
        border-right: 35px solid rgba(255, 255, 255, 0.77); }
    .objects__title--right {
      right: 0;
      padding-right: 30px; }
      .objects__title--right:after {
        right: 100%;
        border-right: 35px solid rgba(255, 255, 255, 0.77); }
      .objects__title--right:before {
        left: 100%;
        border-left: 35px solid rgba(255, 255, 255, 0.77); }

@media only screen and (max-width: 1279px) {
  .objects__title {
    font-size: 12px;
    height: 43px;
    padding-left: 20px;
    padding-right: 20px; }
    .objects__title:after {
      border-bottom-width: 43px; }
    .objects__title--left:after {
      border-left-width: 20px; }
    .objects__title--right:after {
      border-right-width: 20px; }
  .objects__number {
    font-size: 14px;
    padding-left: 10px;
    margin-top: -4px; } }

@media only screen and (max-width: 500px) {
  .objects {
    padding-top: 0; }
    .objects__item {
      width: 100%;
      padding-top: 75%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-clip-path: polygon(50% 1%, 100% 7%, 100% 100%, 0 100%, 0 7%);
      clip-path: polygon(50% 1%, 100% 7%, 100% 100%, 0 100%, 0 7%); }
      .objects__item:first-child {
        -webkit-clip-path: polygon(50% 0, 100% 7%, 100% 100%, 50% 94%, 0 100%, 0 7%);
        clip-path: polygon(50% 0, 100% 7%, 100% 100%, 50% 94%, 0 100%, 0 7%); }
      .objects__item + .objects__item {
        margin-top: -4.5%; }
    .objects__title {
      height: 34px;
      bottom: 20px;
      min-width: inherit;
      width: auto; }
      .objects__title--left {
        left: auto;
        right: 0;
        padding-left: 0;
        bottom: 30px; }
        .objects__title--left:before {
          border-right: 0;
          border-top: 34px solid rgba(255, 255, 255, 0.77);
          border-left: 15px solid transparent; }
      .objects__title--right {
        right: auto;
        left: 0;
        padding-right: 0; }
        .objects__title--right:before {
          border-left: 0;
          border-top: 34px solid rgba(255, 255, 255, 0.77);
          border-right: 15px solid transparent; }
    .objects__number {
      font-size: 12px;
      margin-top: -3px; }
    .objects__img:after {
      display: none; } }

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .objects__item {
    height: 100vh;
    -webkit-clip-path: polygon(50% 1%, 100% 3%, 100% 100%, 0 100%, 0 3%);
    clip-path: polygon(50% 1%, 100% 3%, 100% 100%, 0 100%, 0 3%); }
    .objects__item:first-child {
      -webkit-clip-path: polygon(50% 0, 100% 3%, 100% 100%, 50% 98%, 0 100%, 0 3%);
      clip-path: polygon(50% 0, 100% 3%, 100% 100%, 50% 98%, 0 100%, 0 3%); }
    .objects__item + .objects__item {
      margin-top: -3.5%; } }

@media only screen and (min-width: 501px) {
  .objects {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .objects__item {
      width: 50%;
      min-width: 50%; }
    .objects__img-wrap {
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      bottom: -60px;
      -webkit-transform: skewY(4deg);
      -ms-transform: skewY(4deg);
      transform: skewY(4deg);
      overflow: hidden; }
      .objects__img-wrap--left {
        -webkit-transform: skewY(-4deg);
        -ms-transform: skewY(-4deg);
        transform: skewY(-4deg); } }

@media only screen and (min-width: 501px) and (max-width: 767px) {
  .objects__title {
    width: 65%; } }

@media only screen and (min-width: 1280px) {
  .objects__item {
    z-index: 2; }
    .objects__item:hover {
      z-index: 1; }
      .objects__item:hover .objects__img {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4); }
        .objects__item:hover .objects__img:after {
          opacity: 0; }
      .objects__item:hover .objects__title {
        width: calc(100% - 60px);
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .objects__item:hover .objects__title--left {
          left: 60px; }
        .objects__item:hover .objects__title--right {
          right: 60px; } }

.contact {
  font-size: 18px; }
  .contact__half--address {
    background: url(../img/daytona_logo_bg.png) no-repeat -50% 100%; }
  .contact__half--map {
    position: relative; }
    .contact__half--map:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 36px;
      pointer-events: none;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #252f3e), to(rgba(37, 47, 62, 0)));
      background: -webkit-linear-gradient(bottom, #252f3e 50%, rgba(37, 47, 62, 0));
      background: -o-linear-gradient(bottom, #252f3e 50%, rgba(37, 47, 62, 0));
      background: linear-gradient(to top, #252f3e 50%, rgba(37, 47, 62, 0)); }
  .contact__address-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact__address-icon {
    margin-right: 40px;
    min-width: 47px;
    text-align: center; }
  .contact__address-text {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center; }
  .contact__email {
    color: inherit; }
  .contact__title {
    width: 100%;
    padding-right: 140px; }
    .contact__title--half-width {
      padding-right: 0;
      padding-left: 0; }
    .contact__title--right {
      padding-right: 0; }
  .contact__headline {
    height: 96px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 75px;
    color: white;
    background-color: #394656;
    position: relative; }
    .contact__headline:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0; }
    .contact__headline--right {
      padding-right: 75px;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .contact__headline--right, .contact__headline--left {
      width: 100%; }

#map {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media only screen and (max-width: 1279px) {
  .contact {
    font-size: 11px; }
    .contact__title {
      padding-right: 50px; }
      .contact__title--right, .contact__title--left {
        padding-right: 0; }
    .contact__headline {
      font-size: 15px;
      height: 60px; }
      .contact__headline:after {
        right: -35px;
        top: 0;
        border-right: 35px solid transparent;
        border-top: 60px solid #394656; }
      .contact__headline--right {
        padding-right: 50px;
        padding-left: 0; }
        .contact__headline--right:after {
          right: auto;
          left: -35px;
          border-right: none;
          border-top: none;
          border-left: 35px solid transparent;
          border-top: 60px solid #394656; }
      .contact__headline--left {
        padding-left: 50px; }
    .contact__address-icon {
      max-width: 25px;
      height: 25px;
      min-width: 25px;
      margin-right: 16px; }
      .contact__address-icon img {
        max-height: 100%;
        width: auto; } }

@media only screen and (max-width: 500px) {
  .contact__half {
    width: 100%; }
    .contact__half--address {
      padding-bottom: 40px;
      background-size: 325px auto;
      background-position: -195px 51%;
      margin-bottom: -23px; }
    .contact__half--map {
      position: relative;
      padding-top: 78%; }
      .contact__half--map.with-clip-path {
        -webkit-clip-path: polygon(50% 1%, 100% 8%, 100% 100%, 0 100%, 0 8%);
        clip-path: polygon(50% 1%, 100% 8%, 100% 100%, 0 100%, 0 8%); }
  .contact__address {
    margin-left: 92px;
    margin-top: 30px;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .contact__address:not(.contact__address--left):not(.contact__address--right) {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .contact__address-row + .contact__address-row {
      margin-top: 28px; }
    .contact__address--left, .contact__address--right {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      font-size: 12px; }
      .contact__address--left .contact__address-icon, .contact__address--right .contact__address-icon {
        max-width: 28px;
        height: 28px;
        min-width: 28px; }
    .contact__address-icon {
      max-width: 36px;
      height: 37px;
      min-width: 36px; }
  .contact__title {
    padding-right: 0; }
  .contact__headline:not(.contact__headline--left):not(.contact__headline--right) {
    height: inherit;
    font-size: 14px;
    padding: 15px 10px 6px;
    line-height: 1; }
    .contact__headline:not(.contact__headline--left):not(.contact__headline--right):before {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      border-right: 50vw solid transparent;
      border-top: 13px solid #394656; }
    .contact__headline:not(.contact__headline--left):not(.contact__headline--right):after {
      right: 0;
      top: 100%;
      border-top: 13px solid #394656;
      border-left: 50vw solid transparent;
      border-right: 0; }
  .contact__headline--left, .contact__headline--right {
    height: 40px;
    width: 50%; }
  .contact__headline--right {
    padding-right: 10px; }
    .contact__headline--right:after {
      left: -15px;
      border-left-width: 15px;
      border-top: 40px solid #394656;
      border-bottom: none; }
  .contact__headline--left {
    padding-left: 10px; }
    .contact__headline--left:after {
      right: -15px;
      border-right-width: 15px;
      border-top: 40px solid #394656;
      border-bottom: none; }
  .contact__title--right {
    padding-left: 25px; }
  .contact__title--left {
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  #map {
    position: absolute !important;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%; } }

@media screen and (max-width: 500px) and (orientation: portrait) {
  .contact__half {
    height: 100vh; }
    .contact__half--map.with-clip-path {
      -webkit-clip-path: polygon(50% 1%, 100% 4%, 100% 100%, 0 100%, 0 4%);
      clip-path: polygon(50% 1%, 100% 4%, 100% 100%, 0 100%, 0 4%); }
    .contact__half--address {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      background-position: -195px 150%; }
  .home__section .contact__title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0; } }

@media screen and (min-width: 501px) and (max-width: 1279px) {
  .contact__address {
    font-size: 11px; }
    .contact__address--left, .contact__address--right {
      font-size: 12px; }
    .contact__address--left {
      padding-left: 60px; }
    .contact__address--right {
      padding-right: 60px; }
    .contact__address-row + .contact__address-row {
      margin-top: 25px; }
    .contact__address-text {
      max-width: 160px; }
  .contact__half--address {
    padding-bottom: 44px;
    background-size: 300px auto;
    background-position: -178px 30%; }
  .contact__title--half-width {
    margin-top: 40px;
    margin-bottom: 38px; }
  .contact__headline--left, .contact__headline--right {
    height: 48px; }
    .contact__headline--left:after, .contact__headline--right:after {
      border-top-width: 48px; } }

@media screen and (min-width: 501px) and (max-width: 767px) {
  .contact__title--left {
    margin-top: 25px; } }

@media only screen and (min-width: 501px) {
  .contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .contact__half {
      min-width: 50%;
      width: 50%; }
      .contact__half--address {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .contact__title--half-width {
      width: 60%; }
    .contact__title--right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

@media screen and (min-width: 501px) and (max-width: 1279px) and (orientation: landscape) {
  .contact__half--address {
    background-size: 74% auto;
    background-position: -18vw 100%; } }

@media screen and (min-width: 501px) and (max-width: 1279px) and (orientation: portrait) {
  .contact__half--address {
    background-size: 600px auto;
    background-position: -300px 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; } }

@media only screen and (min-width: 1280px) {
  .contact__half--address {
    padding-bottom: 66px;
    background-size: 508px auto;
    background-position: -270px 130%; }
  .contact__title--half-width {
    margin-bottom: 65px;
    margin-top: 70px; }
  .contact__headline:after {
    right: -60px;
    border-right: 60px solid transparent;
    border-top: 96px solid #394656; }
  .contact__headline--right:after {
    right: auto;
    left: -60px;
    border-right: none;
    border-top: none;
    border-left: 60px solid transparent;
    border-top: 96px solid #394656; }
  .contact__headline--right, .contact__headline--left {
    height: 85px; }
    .contact__headline--right:after, .contact__headline--left:after {
      border-top-width: 85px; }
  .contact__address-row + .contact__address-row {
    margin-top: 40px; }
  .contact__address--left {
    padding-left: 120px; }
  .contact__address--right {
    padding-right: 120px; } }

@media only screen and (min-width: 1600px) {
  .contact__half--address {
    background-size: 630px auto;
    background-position: -270px 100%; } }

.objects-panel {
  position: relative;
  padding-right: 60px; }
  .objects-panel:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: 0;
    border-top: 83px solid #647893;
    border-right: 60px solid transparent; }
  .objects-panel__container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 83px; }
    .objects-panel__container--bg {
      background-color: #647893; }
  .objects-panel__headline {
    position: relative;
    z-index: 2;
    color: white;
    padding-left: 50px; }
  .objects-panel__items {
    position: relative; }
  .objects-panel__link {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .objects-panel {
    padding-right: 35px; }
    .objects-panel:after {
      border-top-width: 50px;
      border-right-width: 35px; }
    .objects-panel__container {
      height: 50px; }
    .objects-panel__headline {
      padding-left: 28px; }
    .objects-panel__items {
      padding-right: 50px; }
    .objects-panel__link {
      font-size: 12px;
      padding-left: 15px;
      padding-right: 15px; } }

@media only screen and (max-width: 500px) {
  .objects-panel {
    padding-right: 16px; }
    .objects-panel:after {
      border-top-width: 40px;
      border-right-width: 16px;
      z-index: 5; }
    .objects-panel__container {
      height: 40px;
      background-color: #647893; }
    .objects-panel__headline {
      padding-left: 13px; }
    .objects-panel__items {
      position: absolute;
      background-color: #809dc1;
      right: -16px;
      top: 0;
      padding-right: 0;
      padding-top: 50px;
      padding-bottom: 15px;
      z-index: 5;
      display: none; }
    .objects-panel__link {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;
      color: #323e4c; }
      .objects-panel__link--current {
        display: none; }
      .objects-panel__link + .objects-panel__link {
        margin-top: 13px; }
    .objects-panel__mobile-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 15px;
      height: 100%;
      width: 86px;
      background-color: #647893;
      color: white;
      position: relative;
      z-index: 6;
      font-size: 14px; } }

@media only screen and (min-width: 501px) {
  .objects-panel__container {
    overflow: hidden; }
  .objects-panel__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    .objects-panel__items:before, .objects-panel__items:after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      background-color: #647893;
      width: 400%; }
    .objects-panel__items:before {
      right: 100%; }
    .objects-panel__items:after {
      left: calc(100% - 50px); }
  .objects-panel__link {
    background-color: #647893;
    color: white; }
    .objects-panel__link:before, .objects-panel__link:after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      visibility: hidden; }
    .objects-panel__link:after {
      right: 0;
      border-bottom: 50px solid #647893;
      border-left: 30px solid transparent; }
    .objects-panel__link:before {
      left: 0;
      border-top: 50px solid #647893;
      border-right: 30px solid transparent; }
    .objects-panel__link--no-padding-right {
      padding-right: 0; }
    .objects-panel__link--active {
      padding-left: 30px;
      padding-right: 30px;
      color: #323e4c;
      background-color: transparent; }
      .objects-panel__link--active:before, .objects-panel__link--active:after {
        visibility: visible; }
      .objects-panel__link--active + .objects-panel__link {
        padding-left: 0; }
  .objects-panel__mobile-btn {
    display: none; } }

@media only screen and (min-width: 1280px) {
  .objects-panel__items {
    padding-right: 120px; }
    .objects-panel__items:after {
      left: calc(100% - 120px); }
  .objects-panel__link {
    padding-left: 30px;
    padding-right: 30px; }
    .objects-panel__link--active {
      padding-left: 60px;
      padding-right: 60px; }
    .objects-panel__link:before {
      border-top-width: 83px;
      border-right-width: 60px; }
    .objects-panel__link:after {
      border-bottom-width: 83px;
      border-left-width: 60px; } }

.objects-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 100px; }

.object {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px; }
  .object__headline {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 500; }
  .object__thumb {
    position: relative;
    width: 100%;
    padding-top: 72%;
    overflow: hidden; }
  .object__label {
    position: absolute;
    right: 0;
    bottom: 35px;
    height: 64px;
    background-color: #647893;
    color: white;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px; }
    .object__label:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      right: 100%;
      border-top: 64px solid #647893;
      border-left: 35px solid transparent; }
  .object__slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .object__slider .slick-list,
    .object__slider .slick-track {
      height: 100%; }
    .object__slider .slick-slide {
      position: relative;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat; }
      .object__slider .slick-slide img {
        opacity: 0;
        visibility: hidden; }
      .object__slider .slick-slide:after {
        content: "";
        position: absolute;
        width: 49px;
        height: 49px;
        background: url(../img/enlarge_icon.png) no-repeat 50% 50%/100% auto;
        right: 18px;
        top: 18px;
        cursor: pointer; }
    .object__slider .slick-arrow {
      position: absolute;
      top: 50%;
      margin-top: -18px;
      width: 27px;
      height: 36px;
      border: none;
      text-indent: -9999px;
      z-index: 98;
      background: transparent;
      cursor: pointer;
      outline: none !important; }
      .object__slider .slick-arrow:after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        opacity: 0.59;
        -webkit-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s; }
      .object__slider .slick-arrow:hover:after {
        opacity: 1; }
    .object__slider .slick-prev {
      left: 7px; }
      .object__slider .slick-prev:after {
        border-right: 27px solid white;
        left: 0; }
    .object__slider .slick-next {
      right: 7px; }
      .object__slider .slick-next:after {
        border-left: 27px solid white;
        right: 0; }
    .object__slider .slick-dots {
      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 98; }
      .object__slider .slick-dots li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px; }
        .object__slider .slick-dots li.slick-active button {
          background-image: url(../img/slick_dot_active.png); }
      .object__slider .slick-dots button {
        width: 29px;
        height: 18px;
        -webkit-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        text-indent: -99999px;
        background: url(../img/slick_dot.png) no-repeat 50% 50%/100% auto;
        border: none;
        cursor: pointer;
        outline: none !important; }
  .object__info-details {
    margin-top: 30px;
    line-height: 30px;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .object__city {
    font-size: 24px;
    margin-top: 10px; }
  .object__btn {
    padding-right: 60px;
    padding-left: 40px;
    height: 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: #809dc1;
    color: #323e4c; }
    .object__btn:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      right: 100%;
      border-bottom: 42px solid #809dc1;
      border-left: 25px solid transparent; }

.fancybox-button.fancybox-button--zoom,
.fancybox-button.fancybox-button--thumbs {
  display: none !important; }

.fancybox-button.fancybox-button--close {
  background-color: transparent;
  color: #415062;
  padding: 5px; }
  .fancybox-button.fancybox-button--close svg {
    width: 35px; }

.fancybox-is-open .fancybox-bg {
  background: url(../img/main_bg.jpg) repeat-y 50% 0/100% auto;
  opacity: 1; }

.fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 65px;
  left: 0;
  right: 0;
  background: transparent;
  text-align: center; }
  .fancybox-thumbs ul {
    display: inline-block; }
  .fancybox-thumbs .fancybox-thumbs-loading {
    width: 29px;
    height: 18px;
    background: url(../img/slick_dot.png) no-repeat 50% 50%/100% auto !important;
    float: none;
    display: inline-block; }
  .fancybox-thumbs .fancybox-thumbs-active {
    background: url(../img/slick_dot_active.png) no-repeat 50% 50%/100% auto !important; }
    .fancybox-thumbs .fancybox-thumbs-active:before {
      display: none; }

.fancybox-slide--image {
  padding-top: 40px;
  padding-bottom: 40px; }

.fancybox-show-thumbs .fancybox-inner {
  right: 0; }

.fancybox-navigation .fancybox-button--arrow_left, .fancybox-navigation .fancybox-button--arrow_right {
  background: transparent; }
  .fancybox-navigation .fancybox-button--arrow_left svg, .fancybox-navigation .fancybox-button--arrow_right svg {
    display: none; }
  .fancybox-navigation .fancybox-button--arrow_left:after, .fancybox-navigation .fancybox-button--arrow_right:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    opacity: 0.59;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    padding: 0; }
  .fancybox-navigation .fancybox-button--arrow_left:hover:after, .fancybox-navigation .fancybox-button--arrow_right:hover:after {
    opacity: 1; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 10px; }
  .fancybox-navigation .fancybox-button--arrow_left:after {
    border-right: 27px solid #647893;
    left: auto;
    right: 0; }

.fancybox-navigation .fancybox-button--arrow_right {
  right: 10px; }
  .fancybox-navigation .fancybox-button--arrow_right:after {
    border-left: 27px solid #647893; }

@media only screen and (max-width: 1279px) {
  .object__city {
    font-size: 14px;
    margin-top: 5px; } }

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .objects-list {
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 40px; }
  .object {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 8px;
    padding-left: 8px; }
    .object__info {
      padding-left: 30px;
      padding-right: 26px;
      padding-top: 20px; }
      .object__info-details {
        margin-top: 13px;
        font-size: 12px;
        line-height: 18px; }
    .object__btn {
      height: 25px;
      padding-right: 30px;
      padding-left: 20px; }
      .object__btn:before {
        border-bottom-width: 25px;
        border-left-width: 15px; }
    .object__label {
      bottom: 20px;
      height: 35px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 12px; }
      .object__label:before {
        content: "";
        border-top-width: 35px;
        border-left-width: 15px; }
    .object__slider .slick-slide:after {
      width: 27px;
      height: 27px;
      top: 10px;
      right: 10px; }
    .object__slider .slick-dots {
      bottom: 20px; }
    .object__slider .slick-arrow:after {
      border-top-width: 10px;
      border-bottom-width: 10px; }
    .object__slider .slick-prev:after {
      border-right-width: 15px; }
    .object__slider .slick-next:after {
      border-left-width: 15px; }
  .fancybox-slide--image {
    padding-top: 20px;
    padding-bottom: 20px; } }

@media only screen and (max-width: 767px) {
  .object__slider .slick-dots {
    display: none !important; }
  .object__label {
    height: 36px;
    bottom: 10px;
    font-size: 12px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    padding-left: 10px;
    padding-right: 10px;
    min-width: 87px; }
    .object__label:before {
      border-top: none;
      border-bottom: 36px solid #647893;
      border-left-width: 16px;
      right: calc(100% - 1px); }
    .object__label:after {
      content: "";
      top: 0;
      left: calc(100% - 1px);
      position: absolute;
      border-top: 36px solid #647893;
      border-right: 16px solid transparent; } }

@media only screen and (max-width: 500px) {
  .objects-list {
    padding-bottom: 40px; }
  .object {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px; }
    .object__thumb {
      padding-top: 78%;
      -webkit-clip-path: polygon(50% 1%, 100% 8%, 100% 100%, 0 100%, 0 8%);
      clip-path: polygon(50% 1%, 100% 8%, 100% 100%, 0 100%, 0 8%); }
    .object__slider .slick-slide:after {
      width: 36px;
      height: 36px;
      right: 5px;
      top: 11%; }
    .object__slider .slick-dots {
      display: none !important; }
    .object__slider .slick-arrow {
      width: 36px;
      height: 47px;
      margin-top: -24px; }
      .object__slider .slick-arrow:after {
        border-top-width: 23px;
        border-bottom-width: 23px; }
    .object__slider .slick-prev:after {
      border-right-width: 36px; }
    .object__slider .slick-next:after {
      border-left-width: 36px; }
    .object__info {
      padding-top: 20px;
      text-align: center; }
      .object__info-details {
        text-align: left;
        font-size: 12px;
        line-height: 18px; }
    .object__btn {
      padding-left: 17px;
      padding-right: 17px;
      height: 36px; }
      .object__btn:before {
        border-bottom-width: 36px; }
  .fancybox-slide--image {
    padding-top: 20px;
    padding-bottom: 20px; }
  .fancybox-thumbs {
    bottom: 40px; } }

@media only screen and (min-width: 501px) {
  .object {
    width: 50%; } }

@media only screen and (min-width: 501px) and (max-width: 1279px) {
  .object__info {
    padding-left: 0px;
    padding-right: 0px; }
  .object__btn {
    padding-left: 10px;
    padding-right: 10px; } }

@media only screen and (min-width: 1280px) {
  .objects-list {
    margin-left: -14px;
    margin-right: -14px; }
  .object {
    padding-left: 14px;
    padding-right: 14px; }
    .object__info {
      padding-left: 57px;
      padding-right: 48px;
      padding-top: 30px; }
    .object__label {
      min-width: 155px; } }

.contact-details {
  margin-top: 25px; }
  .contact-details__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contact-details__item--right {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end; }
    .contact-details__item--left {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .contact-details__item--map {
      padding-top: 41%; }
  .contact-details__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.map {
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 500px) {
  .contact-details__row + .contact-details__row {
    margin-top: 60px; }
  .contact-details__item--map {
    padding-top: 72%; }
  .contact-details__map.with-clip-path {
    -webkit-clip-path: polygon(50% 1%, 100% 7%, 100% 100%, 0 100%, 0 7%);
    clip-path: polygon(50% 1%, 100% 7%, 100% 100%, 0 100%, 0 7%); }
  .map .gm-style button {
    top: auto !important;
    bottom: 0; } }

@media only screen and (min-width: 501px) {
  .contact-details__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .contact-details__row--reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
  .contact-details__item {
    width: 50%; }
  .contact-details__map {
    -webkit-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
    overflow: hidden; }
    .contact-details__map--kiev {
      top: 25px; }
    .contact-details__map--dnepr {
      top: -25px; }
  .map {
    -webkit-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg); }
    .map--kiev {
      top: -25px; }
      .map--kiev .gm-style button {
        top: auto !important;
        bottom: 0; }
    .map--dnepr {
      bottom: -25px; } }

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .contact-details {
    margin-top: 10px; }
    .contact-details__item {
      padding-bottom: 15px; } }

@media screen and (max-width: 767px) and (min-width: 501px) {
  .contact-details {
    margin-top: 6px; }
    .contact-details__map--dnepr {
      bottom: 8px;
      height: auto; }
    .contact-details__map--kiev {
      top: 17px;
      height: calc(100% + 8px); } }

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contact-form__container {
    max-width: 385px; }
  .contact-form__row {
    position: relative; }
    .contact-form__row:after {
      content: "";
      position: absolute;
      width: 2px;
      background-color: #809dc1;
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg); }
    .contact-form__row--btn {
      text-align: center;
      padding-right: 0; }
      .contact-form__row--btn:after {
        display: none; }
  .contact-form__field {
    color: #809dc1;
    border: none;
    border-bottom: 2px solid #809dc1;
    background-color: transparent;
    outline: none !important;
    width: 100%;
    font-family: "Roboto", sans-serif; }
    .contact-form__field::-webkit-input-placeholder {
      color: #809dc1;
      opacity: 1;
      -webkit-transition: opacity 0.25s;
      -o-transition: opacity 0.25s;
      transition: opacity 0.25s; }
    .contact-form__field::-moz-placeholder {
      color: #809dc1;
      opacity: 1;
      -webkit-transition: opacity 0.25s;
      -o-transition: opacity 0.25s;
      transition: opacity 0.25s; }
    .contact-form__field:-ms-input-placeholder {
      color: #809dc1;
      opacity: 1;
      -webkit-transition: opacity 0.25s;
      -o-transition: opacity 0.25s;
      transition: opacity 0.25s; }
    .contact-form__field:focus::-webkit-input-placeholder {
      opacity: 0; }
    .contact-form__field:focus::-moz-placeholder {
      opacity: 0; }
    .contact-form__field:focus:-ms-input-placeholder {
      opacity: 0; }
  .contact-form__btn {
    background-color: #394656;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .contact-form__btn:hover {
      background-color: #809dc1; }
      .contact-form__btn:hover:before {
        border-right-color: #809dc1; }
      .contact-form__btn:hover:after {
        border-left-color: #809dc1; }
    .contact-form__btn:before, .contact-form__btn:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

@media screen and (max-width: 1279px) {
  .contact-form__row {
    padding-right: 15px; }
    .contact-form__row + .contact-form__row {
      margin-top: 18px; }
      .contact-form__row + .contact-form__row--btn {
        margin-top: 24px; }
    .contact-form__row:after {
      height: 32px;
      bottom: -2px;
      right: 7px; }
  .contact-form__field {
    font-size: 12px;
    padding: 10px 0 0;
    height: 30px; }
  .contact-form__btn {
    height: 30px;
    min-width: 95px;
    font-size: 12px; }
    .contact-form__btn:before {
      left: -15px;
      border-top: 30px solid transparent;
      border-right: 15px solid #394656; }
    .contact-form__btn:after {
      right: -15px;
      border-bottom: 30px solid transparent;
      border-left: 15px solid #394656; } }

@media screen and (max-width: 500px) {
  .contact-form {
    padding-top: 60px;
    padding-bottom: 75px; } }

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .contact-form {
    padding-top: 60px;
    padding-bottom: 50px; } }

@media only screen and (min-width: 1280px) {
  .contact-form {
    padding-top: 150px;
    padding-bottom: 65px; }
    .contact-form__row {
      padding-right: 25px; }
      .contact-form__row + .contact-form__row {
        margin-top: 30px; }
      .contact-form__row:after {
        height: 55px;
        bottom: -3px;
        right: 11px; }
      .contact-form__row--btn {
        margin-top: 40px; }
    .contact-form__field {
      font-size: 18px;
      padding: 15px 0 0;
      height: 52px; }
    .contact-form__btn {
      height: 52px;
      min-width: 162px;
      font-size: 18px; }
      .contact-form__btn:before {
        left: -26px;
        border-top: 52px solid transparent;
        border-right: 26px solid #394656; }
      .contact-form__btn:after {
        right: -26px;
        border-bottom: 52px solid transparent;
        border-left: 26px solid #394656; } }

.socials {
  text-align: center; }
  .socials__item {
    display: inline-block;
    color: #394656;
    line-height: 1; }

@media screen and (max-width: 1279px) {
  .socials {
    margin-top: 70px; }
    .socials__item {
      font-size: 29px; }
      .socials__item + .socials__item {
        margin-left: 44px; } }

@media screen and (max-width: 500px) {
  .socials {
    margin-top: 60px; } }

@media only screen and (min-width: 1280px) {
  .socials {
    margin-top: 130px;
    margin-bottom: 60px; }
    .socials__item {
      font-size: 49px; }
      .socials__item + .socials__item {
        margin-left: 70px; } }

@-webkit-keyframes rotate {
  0% {
    opacity: 0;
    -webkit-transition: rotate(270deg) scale(0.2);
    -o-transition: rotate(270deg) scale(0.2);
    transition: rotate(270deg) scale(0.2); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1); } }

@keyframes rotate {
  0% {
    opacity: 0;
    -webkit-transition: rotate(270deg) scale(0.2);
    -o-transition: rotate(270deg) scale(0.2);
    transition: rotate(270deg) scale(0.2); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1); } }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes moveDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes moveDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.team {
  color: #394656; }
  .team__description {
    margin: 0 auto; }
  .team__item {
    border: 1px solid #809dc1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .team__item-desc {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
  .team__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

@media only screen and (max-width: 1440px) {
  .team__description {
    font-size: 13px;
    line-height: 18px; }
    .team__description p + p {
      margin-top: 10px; }
  .team__item-desc {
    max-width: 250px;
    font-size: 11px;
    line-height: 13.28px;
    color: #647893; } }

@media only screen and (max-width: 500px) {
  .team {
    padding-top: 25px;
    padding-bottom: 55px; }
    .team__description {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px;
      line-height: 18px; }
      .team__description p + p {
        margin-top: 18px; }
    .team__row {
      margin-top: 53px; }
    .team__item {
      width: 251px;
      height: 210px;
      margin-left: auto;
      margin-right: auto; }
      .team__item + .team__item {
        margin-top: 29px; }
      .team__item-desc {
        font-size: 12px;
        line-height: 16px;
        padding: 10px;
        color: #647893; }
    .team__logo {
      padding-top: 15px;
      padding-bottom: 5px; }
    .team__eclipse, .team__alur {
      width: 192px; } }

@media only screen and (min-width: 501px) {
  .team__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .team__item {
    position: relative;
    -webkit-transform: rotate(270deg) scale(0.2);
    -ms-transform: rotate(270deg) scale(0.2);
    transform: rotate(270deg) scale(0.2);
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .team__logo, .team__item-desc {
    position: relative;
    opacity: 0;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .team__logo {
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .team__item-desc {
    -webkit-animation-name: moveDown;
    animation-name: moveDown;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s; } }

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .team {
    padding-top: 57px;
    padding-bottom: 196px; }
    .team__item {
      width: 285px;
      height: 190px; }
      .team__item-desc {
        max-width: 250px;
        font-size: 12px;
        line-height: 13.28px;
        color: #647893; }
    .team__description {
      width: 385px; }
    .team__row {
      margin-top: 57px; }
    .team__logo {
      height: 109px; }
    .team__eclipse {
      width: 218px; }
    .team__alur {
      width: 211px; } }

@media screen and (max-width: 650px) and (min-width: 501px) {
  .team__item {
    width: 220px; }
    .team__item-desc {
      font-size: 11px;
      line-height: 13px;
      padding-right: 5px;
      padding-left: 5px; }
  .team__logo {
    height: 85px; }
  .team__eclipse {
    width: 190px; }
  .team__alur {
    width: 185px; } }

@media only screen and (min-width: 1280px) {
  .team {
    padding-top: 57px;
    padding-bottom: 196px; }
    .team__description {
      width: 587px; } }

@media screen and (max-width: 1440px) and (min-width: 1280px) {
  .team__item {
    width: 350px;
    height: 200px; }
  .team__row {
    margin-top: 57px; }
  .team__logo {
    height: 109px; }
  .team__eclipse {
    width: 218px; }
  .team__alur {
    width: 211px; } }

@media only screen and (min-width: 1441px) {
  .team__description {
    font-size: 14px;
    line-height: 27px; }
    .team__description p + p {
      margin-top: 14px; }
  .team__row {
    margin-top: 51px; }
  .team__item {
    width: 450px;
    height: 300px;
    padding: 25px 25px 0; }
    .team__item-desc {
      max-width: 330px;
      padding-top: 10px;
      padding-bottom: 16px;
      font-size: 14px;
      line-height: 21px; }
  .team__logo {
    height: 148px; } }
