h1,
h2,
h3,
h4,
h5 {
  font-size: $hedalineTextSize;
  font-weight: 500;
}
h1,
h3 {
  font-weight: 400;
}

@media only screen and (max-width: 1279px) {
  $hedalineTextSize: 14px;
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: $hedalineTextSize;
  }
}
