@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('../fonts/FontAwesome/css/font-awesome.min.css');


$mainFontFamily: 'Roboto', sans-serif;
$footerTextSize: 14px;
$contentTextSize: 18px;
$hedalineTextSize: 24px;

$white: rgb(255,255,255);
$trinidad: rgb(205,76,46);
$footerBg: rgb(57,70,86);
$footerTextColor: rgb(128,157,193);
$mainTextColor: rgb(50,62,76);
$homeTextColor: rgb(57,70,86);
$panelBg: rgb(100,120,147);
$linkBg: rgb(128,157,193);
