.contact {
  font-size: $contentTextSize;
  &__half {
    &--address {
      background: url(../img/daytona_logo_bg.png) no-repeat -50% 100%;
    }
    &--map {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        height: 36px;
        pointer-events: none;
        background: linear-gradient(to top, rgb(37, 47, 62) 50%, rgba(37, 47, 62, 0));
      }
    }
  }
  &__address {
    &-row {
      display: flex;
      align-items: center;
    }
    &-icon {
      margin-right: 40px;
      min-width: 47px;
      text-align: center;
    }
    &-text {
      flex-grow: 1;
      text-align: center;
    }
  }
  &__email {
    color: inherit;
  }
  &__title {
    width: 100%;
    padding-right: 140px;
    &--half-width {
      padding-right: 0;
      padding-left: 0;
    }
    &--right {
      padding-right: 0; 
    }
  }
  &__headline {
    height: 96px;
    display: flex;
    align-items: center;
    padding-left: 75px;
    color: $white;
    background-color: $homeTextColor;
    position: relative;
    &:after {
      @include beforeAfterTriangle;
      top: 0;
    }
    &--right {
      padding-right: 75px;
      justify-content: flex-end;
    }
    &--right,
    &--left {
      width: 100%;
    }
  }
}

#map {
  width: 100%;
  height: 100%;
  display: flex;
}

@media only screen and (max-width: 1279px) {
  .contact {
    font-size: 11px;
    &__title {
      padding-right: 50px;
      &--right,
      &--left {
        padding-right: 0;
      }
    }
    &__headline {
      font-size: 15px;
      height: 60px;
      &:after {
        right:-35px;
        top: 0;
        border-right: 35px solid transparent;
        border-top: 60px solid $homeTextColor;
      }
      &--right {
        padding-right: 50px;
        padding-left: 0;
        &:after {
          right: auto;
          left: -35px;
          border-right: none;
          border-top: none;
          border-left: 35px solid transparent;
          border-top: 60px solid $homeTextColor;
        }
      }
      &--left {
        padding-left: 50px;
      }
    }
    &__address {
      &-icon {
        max-width: 25px;
        height: 25px;
        min-width: 25px;
        margin-right: 16px;
        img {
          max-height: 100%;
          width: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .contact {
    &__half {
      width: 100%;
      &--address {
        padding-bottom: 40px;
        background-size: 325px auto;
        background-position: -195px 51%;
        margin-bottom: -23px;
      }
      &--map {
        position: relative;
        padding-top: 78%;
        &.with-clip-path {
          clip-path: polygon(50% 1%, 100% 8%, 100% 100%, 0 100%, 0 8%);
        }
      }
    }
    &__address {
      margin-left: 92px;
      margin-top: 30px;
      font-size: 14px;
      display: flex;
      &:not(.contact__address--left):not(.contact__address--right) {
        justify-content: flex-start;
      }
      justify-content: center;
      &-row {
          & + & {
          margin-top: 28px;
        }
      }
      &--left,
      &--right {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-size: 12px;
        .contact__address-icon {
          max-width: 28px;
          height: 28px;
          min-width: 28px;
        }
      }
      &-icon {
        max-width: 36px;
        height: 37px;
        min-width: 36px;
      }
    }
    &__title {
      padding-right: 0;
    }
    &__headline:not(.contact__headline--left):not(.contact__headline--right) {
      height: inherit;
      font-size: 14px;
      padding: 15px 10px 6px;
      line-height: 1;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        border-right: 50vw solid transparent;
        border-top: 13px solid $homeTextColor;
      }
      &:after {
        right: 0;
        top: 100%;
        border-top: 13px solid $homeTextColor;
        border-left: 50vw solid transparent;
        border-right: 0;
      }
    }
    &__headline {
      &--left,
      &--right {
        height: 40px;
        width: 50%;

      }
      &--right {
        padding-right: 10px;
        &:after {
          left: -15px;
          border-left-width: 15px;
          border-top: 40px solid $homeTextColor;
          border-bottom: none;
        }
      }
      &--left {
        padding-left: 10px;
        &:after {
          right: -15px;
          border-right-width: 15px;
          border-top: 40px solid $homeTextColor;
          border-bottom: none;
        }
      }
    }
    &__title {
      &--right {
        padding-left: 25px;
      }
      &--left {
        padding-right: 25px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  #map {
    position: absolute !important;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  .contact {
    &__half {
      height: 100vh;
      &--map {
        &.with-clip-path {
          clip-path: polygon(50% 1%, 100% 4%, 100% 100%, 0 100%, 0 4%);
        }
      }
      &--address {
        display: flex;
        align-items: center;
        position: relative;
        background-position: -195px 150%;
      }
    }
  }

  .home__section .contact {
    &__title {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 1279px) {
  .contact {
    &__address {
      font-size: 11px;
      &--left,
      &--right {
        font-size: 12px;
      }
      &--left {
        padding-left: 60px;
      }
      &--right {
        padding-right: 60px;
      }
      &-row {
          & + & {
          margin-top: 25px;
        }
      }
      &-text {
        max-width: 160px;
      }
    }
    &__half {
      &--address {
        padding-bottom: 44px;
        background-size: 300px auto;
        background-position: -178px 30%;
      }
    }
    &__title {
      &--half-width {
        margin-top: 40px;
        margin-bottom: 38px;
      }
    }
    &__headline {
      &--left,
      &--right {
        height: 48px;
        &:after {
          border-top-width: 48px;
        }
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
  .contact {
    &__title {
      &--left {
        margin-top: 25px;
      }
    }
  }
}

@media only screen and (min-width: 501px) {
  .contact {
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
    &__half {
      min-width: 50%;
      width: 50%;
      &--address {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
      }
    }
    &__title {
      &--half-width {
        width: 60%;
      }
      &--right {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 1279px) and (orientation: landscape) {
  .contact {
    &__half {
      &--address {
        background-size: 74% auto;
        background-position: -18vw 100%;
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 1279px) and (orientation: portrait) {
  .contact {
    &__half {
      &--address {
        background-size: 600px auto;
        background-position: -300px 100%;
        justify-content: center;
        position: relative;
      }
    }
    &__title {
      //position: absolute;
      //left: 0;
      //top: 50px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .contact {
    &__half {
      &--address {
        padding-bottom: 66px;
        background-size: 508px auto;
        background-position: -270px 130%;
      }
    }
    &__title {
       &--half-width {
        margin-bottom: 65px;
        margin-top: 70px;
      }
    }
    &__headline {
      &:after {
        right:-60px;
        border-right: 60px solid transparent;
        border-top: 96px solid $homeTextColor;
      }
      &--right {
        &:after {
          right: auto;
          left: -60px;
          border-right: none;
          border-top: none;
          border-left: 60px solid transparent;
          border-top: 96px solid $homeTextColor;
        }
      }
      &--right,
      &--left {
        height: 85px;
        &:after {
          border-top-width: 85px;
        }
      }
    }
    &__address {
      &-row {
          & + & {
          margin-top: 40px;
        }
      }
      &--left {
        padding-left: 120px;
      }
      &--right {
        padding-right: 120px;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .contact {
    &__half {
      &--address {
        background-size: 630px auto;
        background-position: -270px 100%;
      }
    }
  }
}