.contact-form {
  display: flex;
  justify-content: center;
  &__container {
    max-width: 385px;
  }
  &__row {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 2px;
      background-color: $linkBg;
      transform: rotate(30deg);
    }
    &--btn {
      text-align: center;
      padding-right: 0;
      &:after {
        display: none;
      }
    }
  }
  &__field {
    color: $linkBg;
    border: none;
    border-bottom: 2px solid $linkBg;
    background-color: transparent;
    outline: none !important;
    width: 100%;
    font-family: $mainFontFamily;
    &::-webkit-input-placeholder {
      color: $linkBg;
      opacity: 1;
      transition: opacity 0.25s;
    }
    &::-moz-placeholder {
      color: $linkBg;
      opacity: 1;
      transition: opacity 0.25s;
    }
    &:-ms-input-placeholder {
      color: $linkBg;
      opacity: 1;
      transition: opacity 0.25s;
    }
    &:focus::-webkit-input-placeholder {
      opacity: 0;
    }
    &:focus::-moz-placeholder {
      opacity: 0;
    }     
    &:focus:-ms-input-placeholder {
      opacity: 0;
    }
  }
  &__btn {
    background-color: $homeTextColor;
    color: $white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $linkBg;
      &:before {
         border-right-color: $linkBg;
      }
      &:after {
        border-left-color: $linkBg;
      }
    }
    &:before,
    &:after {
      @include beforeAfterTriangle;
      top: 0;
      transition: all 0.3s;
    }
  }
}

@media screen and (max-width: 1279px) {
  .contact-form {
    &__row {
      padding-right: 15px;
      & + & {
        margin-top: 18px;
        &--btn {
          margin-top: 24px;
        }
      }
      &:after {
        height: 32px;
        bottom: -2px;
        right: 7px;
      }
    }
    &__field {
      font-size: 12px;
      padding: 10px 0 0;
      height: 30px;
    }
    &__btn {
      height: 30px;
      min-width: 95px;
      font-size: 12px;
      &:before {
        left: -15px;
        border-top: 30px solid transparent;
        border-right: 15px solid $homeTextColor;
      }
      &:after {
        right: -15px;
        border-bottom: 30px solid transparent;
        border-left: 15px solid $homeTextColor;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .contact-form {
    padding-top: 60px;
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .contact-form {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .contact-form {
    padding-top: 150px;
    padding-bottom: 65px;
    &__row {
      padding-right: 25px;
      & + & {
        margin-top: 30px;
      }
      &:after {
        height: 55px;
        bottom: -3px;
        right: 11px;
      }
      &--btn {
        margin-top: 40px;
      }
    }
    &__field {
      font-size: 18px;
      padding: 15px 0 0;
      height: 52px;
    }
    &__btn {
      height: 52px;
      min-width: 162px;
      font-size: 18px;
      &:before {
        left: -26px;
        border-top: 52px solid transparent;
        border-right: 26px solid $homeTextColor;
      }
      &:after {
        right: -26px;
        border-bottom: 52px solid transparent;
        border-left: 26px solid $homeTextColor;
      }
    }
  }
}