.contact-details {
  margin-top: 25px;
  &__row {

  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    &--right {
      align-items: flex-end;
    }
    &--left {
      align-items: flex-start;
    }
    &--map {
      padding-top: 41%;
    }
  }
  &__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.map {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .contact-details {
    &__row {
      & + & {
        margin-top: 60px;
      }
    }
    &__item {
      &--map {
        padding-top: 72%;
      }
    }
    &__map {
      &.with-clip-path {
        clip-path: polygon(50% 1%, 100% 7%, 100% 100%, 0 100%, 0 7%);
      }
    }
  }
  .map {
    .gm-style {
      button {
        top: auto !important;
        bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: 501px) {
  .contact-details {
    &__row {
      display: flex;  
      &--reverse {
        flex-direction: row-reverse;
      }
    } 
    &__item {
      width: 50%;
    }
    &__map {
      transform: skewY(4deg);
      overflow: hidden;
      &--kiev {
        top: 25px;
      }
      &--dnepr {
        top: -25px;
      }
    }
  }

  .map {
    transform: skewY(-4deg);
    &--kiev {
      top: -25px;
      .gm-style {
        button {
          top: auto !important;
          bottom: 0;
        }
      }
    }
    &--dnepr {
      bottom: -25px;
    }
  }
}

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .contact-details {
    margin-top: 10px;
    &__item {
      padding-bottom: 15px;
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 501px) {
  .contact-details {
    margin-top: 6px;
    &__map {
      &--dnepr {
        bottom: 8px;
        height: auto;
      }
      &--kiev {
        top: 17px;
        height: calc(100% + 8px);
      }
    }
  }
}
