* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 0.25s;
  outline: none !important;
}

li {
  list-style-type: none;
}
 
img {
  max-width: 100%;
  height: auto;
}
select {
  outline: none !important;
}

body {
  font-family: $mainFontFamily;
  background: url(../img/main_bg.jpg) repeat-y 50% 0 / 100% auto;
  color: $mainTextColor;
  &.overflow {
    overflow: hidden;
  }
}

.page {
  &__section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    &--header {
      display: flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  transition: all 0.25s linear;
  z-index: 99;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/main_bg.jpg) repeat-y 50% 0 / 100% auto;
    opacity: 0;
    z-index: -1;
    transition: all 0.25s linear;
  }
  &--small {
    &:before {
      opacity: 1;
    }
  }
  &__language {
    &-item {
      float: left;
      list-style-type: none;
      padding-left: 11px;
      padding-right: 11px;
      &:first-child {
        padding-left: 0;
      }
    }
    &-link {
      font-size: $hedalineTextSize;
      color: #415062;
      text-decoration: none;
      line-height: 30px;
      &--active {
        color: $trinidad;
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    img {
      display: block;
    }
    &--home {
      opacity: 0;
      visibility: hidden;
    }
    &--visible {
      opacity: 1;
      visibility: visible; 
    }
  }
}

.footer {
  background-color: $footerBg;
  font-size: $footerTextSize;
  color: $footerTextColor;
  position: relative;
  line-height: 18px;
  &:before,
  &:after {
    @include beforeAfterTriangle;
    border-bottom: 66px solid $footerBg;
    top: -66px;
  }
  &:before {
    left: 0;
    border-right: 50vw solid transparent;
  }
  &:after {
    right: 0;
    border-left: 50vw solid transparent;
  }
  &__logo {
    margin-right: 20px;
  }
  &__contact {
    flex-shrink: 0;
    text-align: center;
    &-link {
      color: inherit;
    }
  }
}

.top-btn {
  position: fixed;
  background-color: $trinidad;
  color: $white;
  display: inline-block;
  text-align: center;
  padding-bottom: 7px;
  width: 73px;
  z-index: 98;
  display: none;
  cursor: pointer;
  &:before {
    @include beforeAfterTriangle;
    border-left: 73px solid transparent;
    border-bottom: 40px solid $trinidad;
    left: 0;
    bottom: 100%;
  }
}

.address-link {
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

@media only screen and (max-width: 1440px) {
  .page {
    padding-top: 85px;
    &--home {
      padding-top: 0;
    }
    &__section {
      padding-left: 17px;
      padding-right: 17px;
      &--header {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1440px) and (min-width: 1280px) {
  .header {
    &__language {
      &-link {
        font-size: 20px;
        line-height: 25px;
        &--active {
          font-size: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .header {
    &__language {
      &-link {
        font-size: 18px;
        line-height: 20px;
        &--active {
          font-size: 20px;
        }
      }
    }
  }
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 18px;
    &:before,
    &:after { 
      border-bottom-width: 44px;
      top: -44px;
    }
    &__logo {
      width: 196px;
      margin-right: 35px;
      img {
        display: block;
      }
    }
    &__copy {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 500px) {
  .mobile-hidden {
    display: none;
  }
  .page {
    &__section {
      padding-left: 8px;
      padding-right: 8px;
      &--footer {
        padding-left: 17px;
        padding-right: 17px;
      }
    }
  }
  .header {
    padding-top: 20px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 20px;
    &__language {
      &-list {
        display: none;
      }
      &-field {
        font-size: 24px;
        border: none;
        background-color: transparent;
        appearance: none;
        background: url(../img/arrow_up.png) no-repeat 100% 50%;
        padding-right: 24px;
        &::-ms-expand {
            display: none;
        }
      }
    }
    &__logo {
      width: 36px;
    }
  }
  .footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 13px;
    &:before,
    &:after {
      border-bottom-width: 18px;
      top: -18px;
    }
    &__logo {
      width: 140px;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
  .top-btn {
    right: 17px;
    bottom: 46px;
    width: 49px;
    font-size: 12px;
    padding-bottom: 0;
    &:before {
      border-left-width: 49px;
      border-bottom-width: 27px;
    }
  }
}

@media only screen and (min-width: 501px) {
  .mobile-visible {
    display: none;
  }
  .page {
    &__section {
      &--footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
      }
      &--contact {
        background: url(../img/contact_form_bg.png) no-repeat 50% 100% / 100% auto;
      }
    }
  }
  .header {
    &__language {
      flex: 1;
    }
    &__language-select {
      display: none;
    }
  }
  .footer {
    &__logo-wrap {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 501px) {
  .footer {
    &__logo {
      width: 100px;
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 1440px) and (min-width: 768px) and (orientation: portrait) {
  .page {
    &--team {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }
  .content {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .footer {
    &__copy-row {
      display: block;
    }
    &__contact {
      min-width: 47%;
      padding-right: 40px;
    }
  }
  .top-btn {
    right: 20px;
    bottom: 30px;
    width: 69px;
    font-size: 14px;
    padding-bottom: 4px;
    &:before {
      border-left-width: 69px;
      border-bottom-width: 25px;
    }
  }
}


@media screen and (max-width: 1440px) and (min-width: 501px) {
  .page {
    &__section {
      &--team {
        width: 100%;
        background: url(../img/team_bg.png) no-repeat 50% 100%;
      }
    }
  }
  .header {
    padding: 30px;
    &__logo {
      width: 37px;
    }
  }
  .content {
    &--team {
      display: flex;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 45px;
    line-height: 1.5;
    &__contact {
      width: 50%;
    }
    &__copy {
      position: relative;
      top: -5px;
    }
  }
  .top-btn {
    right: 80px;
    bottom: 65px;
  }
}

@media only screen and (min-width: 1441px) {
  .page {
    padding-top: 98px;
    &--home {
      padding-top: 0;
    }
    &__section {
      padding-left: 80px;
      padding-right: 80px;
      &--header {
        padding-left: 120px;
        padding-right: 120px; 
      }
    }
  }
  .header {
    padding-left: 124px;
    padding-right: 124px;
    &--home {
      padding-top: 76px;
    }
    &--small {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
