.home {
  &__section {
    &--object {
      position: relative;
      overflow: hidden;
      padding-top: 40px;
    }
    &--logo {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }
  &__logo {
    transition: all 0.3s linear;
    position: relative;
    top: 0;
    &--hidden {
      transform: scale(0.5);
      opacity: 0;
      top: -100px;
    }
  }
  &__arrow {
    position: absolute;
    width: 2px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background-color: #15222b;
    &:after,
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 2px;
      height: 10px;
      background-color: #15222b;
    }
    &:after {
      transform: rotate(-45deg);
      left: -4px;
    }
    &:before {
      transform: rotate(45deg);
      right: -4px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home {
    &__logo {
      width: 189px;
    }
    .fullScreen {
      top: 25px !important;
    }
  }
  #map {
    .gm-style {
      button {
        top: 30px !important;
      }
    }
  }
}

@media screen and (min-width: 501px) {
  .home {
    &__section {
      height: 100vh;
    }
  }
}


@media screen and (min-width: 501px) and (max-width: 1279px) {
  .home {
    &__logo {
      width: 227px;
    }
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  .home {
    &__section {
      &--logo {
        padding-bottom: 0;
      }
    }
  }
}