.menu-icon {
  width: 34px;
  height: 22px;
  text-align: right;
  cursor: pointer;
  &__line {
    position: relative;
    float: right;
    width: 100%;
    height: 3px;
    background-color: rgb(21,34,43);
    transition: all 0.25s;
    &:first-child {
      top: 0;
    }
    &:last-child {
      width: 19px;
      bottom: 0;
    }
    & + & {
      margin-top: 6px;
    }
  }
  &:hover {
    .menu-icon__line:first-child {
      top: -3px;
    }
    .menu-icon__line:last-child {
      bottom: -3px;
    }
  }
}
.main-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128,157,193, 0.63);
  z-index: 97;
  display: none;
}
.main-menu {
  z-index: 98;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 105px;
  padding-bottom: 50px;
  overflow: auto;
  transition: all 0.5s linear;
  &--visible {
    right: 0;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    background-color: $mainTextColor;
    z-index: -1;
  }
  &:after {
    @include beforeAfterTriangle;
    bottom: 0;
    left: 0;
    border-top: 100px solid $mainTextColor;
    border-left: 100px solid transparent;
  }
  &__list {
    width: 100%;
    max-width: 225px;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      left: 100px;
      bottom: 0;
      height: 100px;
      background-color: $mainTextColor;
      z-index: -1;
    }
  }
  &__item {
    & + & {
      margin-top: 35px;
    }
  }
  &__link {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
    display: block;
    line-height: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      color: $trinidad;
    }
  }
  &__contact {
    max-width: 225px;
    width: 100%;
    color: $footerTextColor;
    font-size: $footerTextSize;
    &-row {
      & + & {
        margin-top: 20px;
      }
    }
    &-link {
      color: inherit;
      &:hover {
        color: $trinidad;
      }
    }
  }
  &__close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 70px;
    right: 100px;
    cursor: pointer;
    &-line {
      display: inline-block;
      position: absolute;
      width: 28px;
      height: 2px;
      background-color: $footerTextColor;
      transform: rotate(45deg);
      top: 9px;
      left: -2px;
      transition: all 0.25s;
      & + & {
        transform: rotate(-45deg);
        transition-delay: 0.1s;
      }
    }
    &:hover {
      .main-menu__close-line {
        transform: rotate(315deg);
        & + .main-menu__close-line {
          transform: rotate(225deg);
        }
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .menu-icon {
    width: 27px;
    &__line {
      height: 2px;
    }
  }
  .main-menu {
    width: 290px;
    padding-left: 70px;
    padding-bottom: 70px;
    &:before {
      bottom: 70px;
    }
    &:after {
      border-top-width: 70px;
      border-left-width: 70px;
    }
    &__list {
      &:before {
        left: 70px;
      }
    }
    &__item {
       & + & {
         margin-top: 20px;
       }
    }
    &__link {
      font-size: 14px;
    }
    &__contact {
      font-size: 10px;
    }
    &__contact-row {
      & + & {
        margin-top: 10px;
      }
    }
    &__close {
      top: 45px;
      right: 70px;
    }
  }
}

@media only screen and (max-width: 991px) and (orientation: landscape) {
  .main-menu {
    padding-bottom: 30px;
    &__item {
      & +& {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) { 
  .main-menu__item + .main-menu__item {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) { 
  .main-menu__close {
    top: 20px;
    right: 30px;
  }
  .main-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    &__item {
      & + & {
        margin-top: 0;
      }
    }
    &__contact-row {
      & + & {
        margin-top: 5px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .menu-icon {
    &__line {
      background-color: $linkBg;
    }
  }
  .main-menu {
    width: 240px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    &--visible {
      right: 0;
    }
    &__contact {
      display: none;
    }
    &__list {
      text-align: center;
    }
    &__close {
      top: 25px;
      right: 25px;
    }
  }
}


@media screen and (max-width: 1366px) and (min-width: 375px) and (orientation: portrait) {
  .main-menu {
    width: 50vw;
    align-items: center;
    right: -50vw;
    height: 50vh;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    &--visible {
      right: 0;
    }
    &__contact {
      display: none;
    }
  }
}

@media screen and (max-width: 501px) and (orientation: portrait) {
  .main-menu {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}