.objects {
  height: 100%;
  &__item {
    position: relative;
    font-size: $contentTextSize;
    color: inherit;
  }
  &__img {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    transition: all 8s linear;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(100,120,147, 0.41);
      transition: all 0.25s;
    }
  }
  &__number {
    font-size: 24px;
    line-height: 1;
    margin-top: -10px;
    padding-left: 25px;
  }
  &__title {
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 32px;
    background-color: rgba($white, 0.77);
    min-width: 50%;
    width: 50%;
    white-space: nowrap;
    transition: all 0.25s linear;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
    }
    &:after {
      border-bottom: 80px solid transparent;
    }
    &:before {
      border-top: 80px solid transparent;
    }
    &--left {
      left: 0;
      padding-left: 30px;
      justify-content: flex-end;
      &:after {
        left: 100%;
        border-left: 35px solid rgba($white, 0.77);
      }
      &:before {
        right: 100%;
        border-right: 35px solid rgba($white, 0.77);
      }
    }
    &--right {
      right: 0;
      padding-right: 30px;
      &:after {
        right: 100%;
        border-right: 35px solid rgba($white, 0.77);
      }
      &:before {
        left: 100%;
        border-left: 35px solid rgba($white, 0.77);
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .objects {
    &__title {
      font-size: 12px;
      height: 43px;
      padding-left: 20px;
      padding-right: 20px;
      &:after {
        border-bottom-width: 43px;
      }
      &--left {
        &:after {
          border-left-width: 20px;
        }
      }
      &--right {
        &:after {
          border-right-width: 20px;
        }
      }
    }
    &__number {
      font-size: 14px;
      padding-left: 10px;
      margin-top: -4px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .objects {
    padding-top: 0;
    &__item {
      width: 100%;
      padding-top: 75%;
      display: flex;
      clip-path: polygon(50% 1%, 100% 7%, 100% 100%, 0 100%, 0 7%);
      &:first-child {
        clip-path: polygon(50% 0, 100% 7%, 100% 100%, 50% 94%, 0 100%, 0 7%);
      }
      & + & {
        margin-top: -4.5%;
      }
    }
    &__title {
      height: 34px;
      bottom: 20px;
      min-width: inherit;
      width: auto;
      &--left {
        left: auto;
        right: 0;
        padding-left: 0;
        bottom: 30px;
        &:before {
          border-right: 0;
          border-top: 34px solid rgba($white, 0.77);
          border-left: 15px solid transparent;
        }
      }
      &--right {
        right: auto;
        left: 0;
        padding-right: 0;
        &:before {
          border-left: 0;
          border-top: 34px solid rgba($white, 0.77);
          border-right: 15px solid transparent;
        }
      }
    }
    &__number {
      font-size: 12px;
      margin-top: -3px;
    }
    &__img {
      &:after {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .objects {
    &__item {
      height: 100vh;
      clip-path: polygon(50% 1%, 100% 3%, 100% 100%, 0 100%, 0 3%);
      &:first-child {
        clip-path: polygon(50% 0, 100% 3%, 100% 100%, 50% 98%, 0 100%, 0 3%);
      }
      & + & {
        margin-top: -3.5%;
      }
    }
  }
}

@media only screen and (min-width: 501px) {
  .objects {
    display: flex;
    &__item {
      width: 50%;
      min-width: 50%;
    }
    &__img-wrap {
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      bottom: -60px;
      transform: skewY(4deg);
      overflow: hidden;
      &--left {
        transform: skewY(-4deg);
      }
    }
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  .objects {
    &__title {
      width: 65%;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .objects {
    &__item {
      z-index: 2;
      &:hover {
        z-index: 1;
        .objects__img {
          transform: scale(1.4);
          &:after {
            opacity: 0;
          }
        }
        .objects__title {
          width: calc(100% - 60px);
          justify-content: center;
          &--left {
            left: 60px;
          }
          &--right {
            right: 60px;
          }
        }
      }
    }
  }
}
