.objects-panel {
  position: relative;
  padding-right: 60px;
  &:after {
    @include beforeAfterTriangle;
    right: 0;
    top: 0;
    border-top: 83px solid $panelBg;
    border-right: 60px solid transparent;
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
    &--bg {
      background-color: $panelBg;
    }
  }
  &__headline {
    position: relative;
    z-index: 2;
    color: $white;
    padding-left: 50px;
  }
  &__items {
    position: relative;
  }
  &__link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .objects-panel {
    padding-right: 35px;
    &:after {
      border-top-width: 50px;
      border-right-width: 35px;
    }
    &__container {
      height: 50px;
    }
    &__headline {
      padding-left: 28px;
    }
    &__items {
      padding-right: 50px;
    }
    &__link {
      font-size: 12px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .objects-panel {
    padding-right: 16px;
    &:after {
      border-top-width: 40px;
      border-right-width: 16px;
      z-index: 5;
    }
    &__container {
      height: 40px;
      background-color: $panelBg;
    }
    &__headline {
      padding-left: 13px;
    }
    &__items {
      position: absolute;
      background-color: $linkBg;
      right: -16px;
      top: 0;
      padding-right: 0;
      padding-top: 50px;
      padding-bottom: 15px;
      z-index: 5;
      display: none;
    }
    &__link {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;
      color: $mainTextColor;
      &--current {
        display: none;
      }
      & + & {
        margin-top: 13px;
      }
    }
    &__mobile-btn {
      display: flex;
      align-items: center;
      padding-left: 15px;
      height: 100%;
      width: 86px;
      background-color: $panelBg;
      color: $white;
      position: relative;
      z-index: 6;
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 501px) {
  .objects-panel {
    &__container {
      overflow: hidden;
    }
    &__items {
      display: flex;
      height: 100%;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        background-color: $panelBg;
        width: 400%;
      }
      &:before {
        right: 100%;
      }
      &:after {
        left: calc(100% - 50px);
      }
    }
    &__link {
      background-color: $panelBg;
      color: $white;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        visibility: hidden;
      }
      &:after {
        right: 0;
        border-bottom: 50px solid $panelBg;
        border-left: 30px solid transparent;
      }
      &:before {
        left: 0;
        border-top: 50px solid $panelBg;
        border-right: 30px solid transparent;
      }
      &--no-padding-right {
        padding-right: 0;
      }
      &--active {
        padding-left: 30px;
        padding-right: 30px;
        color: $mainTextColor;
        background-color: transparent;
        &:before,
        &:after {
          visibility: visible;
        }
        & + .objects-panel__link {
          padding-left: 0;
        }
      }
    }
    &__mobile-btn {
      display: none;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .objects-panel {
    &__items {
      padding-right: 120px;
      &:after {
        left: calc(100% - 120px);
      }
    }
    &__link {
      padding-left: 30px;
      padding-right: 30px;
      &--active {
        padding-left: 60px;
        padding-right: 60px;
      }
      &:before {
        border-top-width: 83px;
        border-right-width: 60px;
      }
      &:after {
        border-bottom-width: 83px;
        border-left-width: 60px;
      }
    }
  }
}
