.objects-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.object {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  &__headline {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }
  &__thumb {
    position: relative;
    width: 100%;
    padding-top: 72%;
    overflow: hidden;
  }
  &__label {
    position: absolute;
    right: 0;
    bottom: 35px;
    height: 64px;
    background-color: $panelBg;
    color: $white;
    font-size: $contentTextSize;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    &:before {
      @include beforeAfterTriangle;
      top: 0;
      right: 100%;
      border-top: 64px solid $panelBg;
      border-left: 35px solid transparent;
    }
  }
  &__slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .slick-list,
    .slick-track {
      height: 100%;
    }
    .slick-slide {
      position: relative;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      img {
        opacity: 0;
        visibility: hidden;
      }
      &:after {
        content: "";
        position: absolute;
        width: 49px;
        height: 49px;
        background: url(../img/enlarge_icon.png) no-repeat 50% 50% / 100% auto;
        right: 18px;
        top: 18px;
        cursor: pointer;
      }
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      margin-top: -18px;
      width: 27px;
      height: 36px;
      border: none;
      text-indent: -9999px;
      z-index: 98;
      background: transparent;
      cursor: pointer;
      outline: none !important;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        opacity: 0.59;
        transition: all 0.25s;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
    .slick-prev {
      left: 7px;
      &:after {
        border-right: 27px solid $white;
        left: 0;
      }
    }
    .slick-next {
      right: 7px;
      &:after {
        border-left: 27px solid $white;
        right: 0;
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 98;
      li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        &.slick-active {
          button {
            background-image: url(../img/slick_dot_active.png);
          }
        }
      }
      button {
        width: 29px;
        height: 18px;
        transition: all 0.25s;
        text-indent: -99999px;
        background: url(../img/slick_dot.png) no-repeat 50% 50% / 100% auto;
        border: none;
        cursor: pointer;
        outline: none !important;
      }
    }
  }
  &__info {
    &-details {
      margin-top: 30px;
      line-height: 30px;
      font-size: $contentTextSize;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__city {
    font-size: 24px;
    margin-top: 10px;
  }
  &__btn {
    padding-right: 60px;
    padding-left: 40px;
    height: 42px;
    display: flex;
    align-items: center;
    position: relative;
    background: $linkBg;
    color: $mainTextColor;
    &:before {
      @include beforeAfterTriangle;
      top: 0;
      right: 100%;
      border-bottom: 42px solid $linkBg;
      border-left: 25px solid transparent;
    }
  }
}

.fancybox-button.fancybox-button--zoom,
.fancybox-button.fancybox-button--thumbs {
  display: none !important;
}
.fancybox-button.fancybox-button--close {
  background-color: transparent;
  color: rgb(65,80,98);
  padding: 5px;
  svg {
    width: 35px;
  }
}
.fancybox-is-open .fancybox-bg {
  background: url(../img/main_bg.jpg) repeat-y 50% 0 / 100% auto;
  opacity: 1;
}

.fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 65px;
  left: 0;
  right : 0;
  background: transparent;
  text-align: center;
  ul {
    display: inline-block;
  }
  .fancybox-thumbs-loading {
    width: 29px;
    height: 18px;
    background: url(../img/slick_dot.png) no-repeat 50% 50%/100% auto !important;
    float: none;
    display: inline-block;
  }
  .fancybox-thumbs-active {
    background: url(../img/slick_dot_active.png) no-repeat 50% 50%/100% auto !important;
    &:before {
      display: none;
    }
  }
}

.fancybox-slide--image {
  padding-top: 40px;
  padding-bottom: 40px;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 0;
}

.fancybox-navigation {
  .fancybox-button {
    &--arrow_left,
    &--arrow_right {
      background: transparent;
      svg {
        display: none;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        opacity: 0.59;
        transition: all 0.25s;
        padding: 0;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
    &--arrow_left {
      left: 10px;
      &:after {
        border-right: 27px solid $panelBg;
        left: auto;
        right: 0;
      }
    }
    &--arrow_right {
      right: 10px;
      &:after {
        border-left: 27px solid $panelBg;
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .object {
    &__city {
      font-size: 14px;
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .objects-list {
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 40px;
  }
  .object {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 8px;
    padding-left: 8px;
    &__info {
      padding-left: 30px;
      padding-right: 26px;
      padding-top: 20px;
      &-details {
        margin-top: 13px;
        font-size: 12px;
        line-height: 18px;
      }
    }
    &__btn {
      height: 25px;
      padding-right: 30px;
      padding-left: 20px;
      &:before {
        border-bottom-width: 25px;
        border-left-width: 15px;
      }
    }
    &__label {
      bottom: 20px;
      height: 35px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 12px;
      &:before {
        content: "";
        border-top-width: 35px;
        border-left-width: 15px;
      }
    }
    &__slider {
      .slick-slide {
        &:after {
          width: 27px;
          height: 27px;
          top: 10px;
          right: 10px;
        }
      }
      .slick-dots {
        bottom: 20px;
      }
      .slick-arrow {
        &:after {
          border-top-width: 10px;
          border-bottom-width: 10px;
        }
      }
      .slick-prev {
        &:after {
          border-right-width: 15px;
        }
      }
      .slick-next {
        &:after {
          border-left-width: 15px;
        }
      }
    }
  }
  .fancybox-slide--image {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .object {
    &__slider {
      .slick-dots {
        display: none !important;
      }
    }
    &__label {
      height: 36px;
      bottom: 10px;
      font-size: 12px;
      right: 50%;
      transform: translateX(50%);
      padding-left: 10px;
      padding-right: 10px;
      min-width: 87px;
      &:before {
        border-top: none;
        border-bottom: 36px solid $panelBg;
        border-left-width: 16px;
        right: calc(100% - 1px);
      }
      &:after {
        content: "";
        top: 0;
        left: calc(100% - 1px);
        position: absolute;
        border-top: 36px solid $panelBg;
        border-right: 16px solid transparent;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .objects-list {
    padding-bottom: 40px;
  }
  .object {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    &__thumb {
      padding-top: 78%;
      clip-path: polygon(50% 1%, 100% 8%, 100% 100%, 0 100%, 0 8%);
    }
    &__slider {
      .slick-slide {
        &:after {
          width: 36px;
          height: 36px;
          right: 5px;
          top: 11%;
        }
      }
      .slick-dots {
        display: none !important;
      }
      .slick-arrow {
        width: 36px;
        height: 47px;
        margin-top: -24px;
        &:after {
          border-top-width: 23px;
          border-bottom-width: 23px;
        }
      }
      .slick-prev {
        &:after {
          border-right-width: 36px;
        }
      }
      .slick-next {
        &:after {
          border-left-width: 36px;
        }
      }
    }
    &__info {
      padding-top: 20px;
      text-align: center;
      &-details {
        text-align: left;
        font-size: 12px;
        line-height: 18px;
      }
    }
    &__btn {
      padding-left: 17px;
      padding-right: 17px;
      height: 36px;
      &:before {
        border-bottom-width: 36px;
      }
    }
  }
  .fancybox-slide--image {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .fancybox-thumbs {
    bottom: 40px;
  }
}
@media only screen and (min-width: 501px) {
  .object {
    width: 50%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1279px) {
  .object {
    &__info {
      padding-left: 0px;
      padding-right: 0px;
    }
    &__btn {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .objects-list {
    margin-left: -14px;
    margin-right: -14px;
  }
  .object {
    padding-left: 14px;
    padding-right: 14px;
    &__info {
      padding-left: 57px;
      padding-right: 48px;
      padding-top: 30px;
    }
    &__label {
      min-width: 155px;
    }
  }
}
