.socials {
  text-align: center;
  &__item {
    display: inline-block;
    color: $homeTextColor;
    line-height: 1;
    
  }
}

@media screen and (max-width: 1279px) {
  .socials {
    margin-top: 70px;
    &__item {
      font-size: 29px;
      & + & {
        margin-left: 44px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .socials {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 1280px) {
  .socials {
    margin-top: 130px;
    margin-bottom: 60px;
    &__item {
      font-size: 49px;
      & + & {
        margin-left: 70px;
      }
    }
  }
}