@keyframes rotate {
  0% {
    opacity: 0;
    transition: rotate(270deg) scale(0.2);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.team {
  color: $homeTextColor;
  &__description { 
    margin: 0 auto;
  }
  &__item {
    border: 1px solid $linkBg;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-desc {
      flex: 1;
      text-align: center;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

@media only screen and (max-width: 1440px) {
  .team {
    &__description {
      font-size: 13px;
      line-height: 18px;
      p + p {
        margin-top: 10px;
      }
    }
    &__item {
      &-desc {
        max-width: 250px;
        font-size: 11px;
        line-height: 13.28px;
        color: $panelBg;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .team {
    padding-top: 25px;
    padding-bottom: 55px;
    &__description {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px;
      line-height: 18px;
      p + p {
        margin-top: 18px;
      }
    }
    &__row {
      margin-top: 53px;
    }
    &__item {
      width: 251px;
      height: 210px;
      margin-left: auto;
      margin-right: auto;
      & + & {
        margin-top: 29px;
      } 
      &-desc {
        font-size: 12px;
        line-height: 16px;
        padding: 10px;
        color: $panelBg;
      }
    }
    &__logo {
      padding-top: 15px;
      padding-bottom: 5px;
    }
    &__eclipse,
    &__alur {
      width: 192px;
    }
  }
}

@media only screen and (min-width: 501px) {
  .team {
    &__row {
      display: flex;
      justify-content: space-around;
    }
    &__item {
      position: relative;
      transform: rotate(270deg) scale(0.2);
      animation-name: rotate;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    &__logo,
    &__item-desc {
      position: relative;
      opacity: 0;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    &__logo {
      animation-name: opacity;
      animation-duration: 0.15s;
      animation-delay: 0.5s; 
    }
    &__item-desc {
      animation-name: moveDown;
      transform: translateY(-20px);
      animation-delay: 0.65s; 
      animation-duration: 0.25s;
    }
  }
}

@media screen and (max-width: 1279px) and (min-width: 501px) {
  .team {
    padding-top: 57px;
    padding-bottom: 196px;
    &__item {
      width: 285px;
      height: 190px;
      &-desc {
        max-width: 250px;
        font-size: 12px;
        line-height: 13.28px;
        color: $panelBg;
      }
    }
    &__description {
      width: 385px;
    }
    &__row {
      margin-top: 57px;
    }
    &__logo {
      height: 109px;
    }
    &__eclipse {
      width: 218px;
    }
    &__alur {
      width: 211px;
    }
  }
}

@media screen and (max-width: 650px) and (min-width: 501px) { 
  .team {
    &__item {
      width: 220px;
      &-desc {
        font-size: 11px;
        line-height: 13px;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    &__logo {
      height: 85px;
    }
    &__eclipse {
      width: 190px;
    }
    &__alur {
      width: 185px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .team {
    padding-top: 57px;
    padding-bottom: 196px;
    &__description {
      width: 587px;
    }
  }
}

@media screen and (max-width: 1440px) and (min-width: 1280px) {
  .team {
    &__item {
      width: 350px;
      height: 200px;
    }
    &__row {
      margin-top: 57px;
    }
    &__logo {
      height: 109px;
    }
    &__eclipse {
      width: 218px;
    }
    &__alur {
      width: 211px;
    }
  }
}

@media only screen and (min-width: 1441px) {
  .team {
    &__description {
      font-size: 14px;
      line-height: 27px;
      p + p {
        margin-top: 14px;
      }
    }
    &__row {
      margin-top: 51px;
    }
    &__item {
      width: 450px;
      height: 300px;
      padding: 25px 25px 0;
      &-desc {
        max-width: 330px;
        padding-top: 10px;
        padding-bottom: 16px;
        font-size: 14px;
        line-height: 21px;
      }
    }
    &__logo {
      height: 148px;
    }
  }
}
